<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expat Car Sales</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32BM.png"
    />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-dark">
    <!-- <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4 fw-bold text-white">Expat Car Sales</span> <span class="text-secondary">KL's #1 source of Expat Cars</span>
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class=" btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/profile" class=" btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" aria-current="page">Sell Your Car</a></li>
          <li class="nav-item"><a href="/feed" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Our Showroom</a></li>
          <li class="nav-item"><a href="#" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Our Services</a></li>
          <!--  <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li> 
          <li class="nav-item"><a href="#" class="nav-link">About</a></li> 
        </ul>
      </header>
    </div> -->
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class=" d-flex align-items-center text-dark text-decoration-none">
          <img class="bi me-2" width="121" height="121" src="https://res.cloudinary.com/dllmha3wx/image/upload/v1665479096/ecs-logo-black-background_kwj4pw.jpg" alt="">
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 ">
          <li><a href="/" class="border-right-white nav-link px-2 text-white">Home</a></li>
          <li><a href="/profile" class="border-right-white nav-link px-2 text-white">Sell Your Car</a></li>
          <li><a href="/feed" class="border-right-white nav-link px-2 text-white">Our Showroom</a></li>
          <li><a href="#" class="border-right-white nav-link px-2 text-white">FAOur Services</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
  
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </header>
    </div>
  </body>
</html>
