<%- include('partials/header') -%>
<main class="container">
    <section class="d-flex flex-column justify-content-center" 
    class="bg-image"
      style="
        background-image: url('https://res.cloudinary.com/dllmha3wx/image/upload/v1667381749/car-interior_hsm7x7.jpg');
        height: 100vh;
      "
    >
        <div class="col d-flex row">
            <div class="col-6 ps-3 pe-2">
                <p class="text-light"> Here at Expat Car Sales, we are passionate about cars. It’s our mission to provide quality vehicles, and quality service to you, our loyal customers.</p>
                <p class="text-light">Our founder and CEO, Gerald Davis, has been helping expats in KL with everything auto since 2004. He's a proper Englishman who will go the extra mile (or kilometer) to make sure you're taken care of. He will even personally deliver a car to you for a viewing and test-drive.</p>
                <span class="pb-3 text-bold text-white">Services Provided</span>
                <ul class = "list-unstyled text-light">
                    <li>Car Purchase</li>
                    <li>Car Rental</li>
                    <li>Advertise Your Car for Sale</li>
                    <li>Maintenance</li>
                    <li>Tires</li>
                    <li>Body Repair Shop</li>
                    <li>Interior Valeting and Upholstery</li>
                    <li>JPJ Licensing and Transfer of Ownership</li>
                    <li>Puspakom Inspections</li>
                    <li>Insurance Quotes</li>
                </ul>
                <p class="pt-3 text-light">And anything else car related! We are the car service you can rely on in Kuala Lumpur.</p>
                <span class="text-white">- The ECS Team</span>
                <span class="text-light pt-3">ECS<br>Trusted Then. Trusted Now</span>
            </div>
            <div class="col-6 ps-2 pe-3">
                <img class="img-fluid pb-3" src="https://res.cloudinary.com/dllmha3wx/image/upload/v1665561858/eknzj6gepieahoow1nsb.jpg" alt="">
                <a class="btn btn-outline-info btn-lg col-12" href="/contact">Contact Us</a>
            </div>
        </div>
    </section>
    <!-- map -->
   
</main>

<%- include('partials/footer') -%>