<%- include('partials/header') -%>
<main class="container">
    <section class="d-flex flex-column justify-content-center" 
    class="bg-image"
      style="
        background-image: url('https://res.cloudinary.com/dllmha3wx/image/upload/v1667381749/car-interior_hsm7x7.jpg');
        height: 100vh;
      "
    >
        <h1 class="text-white text-center">CONTACT US</h1>
        <p class="text-info text-center">We're here for you. Just ask for Gerald</p>
        <span class="text-white fst-italic text-center">*by appointment only*</span>
        <a class="text-center text-white text-decoration-none" href="mailto:gerald@expatcarsaleskl.com">gerald@expatcarsaleskl.com</a>
        <a class="text-center text-white text-decoration-none" href="https://wa.me/60142945817?text=I'm%20interested%20in%20your%20car%20for%20sale">WhatsApp +60 14-294 5817</a>

    </section>
    <!-- map -->
    <section id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.6144663414257!2d101.77216659999999!3d3.1955686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc376dd23be063%3A0x64ac87d74f08bcf!2sExpat%20Car%20Sales%20KL!5e0!3m2!1sen!2smy!4v1667381104881!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe>
    </section>
</main>

<%- include('partials/footer') -%>