<%- include('partials/header') -%>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 ">
        <iframe src="https://player.vimeo.com/video/683765463?h=8ec88a168d" class="d-block mx-lg-auto" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen loading="lazy"></iframe>
        
        <!-- <img src="https://res.cloudinary.com/dllmha3wx/image/upload/v1663975642/two-old-fashioned_bmvefe.jpg" class="d-block mx-lg-auto img-fluid" alt="cocktails and more" width="700" height="500" > -->
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white">EXPAT CAR SALES</h1>
        <h1 class="display-5 fw-bold lh-1 mb-3 text-info">WELCOMES YOU</h1>
        <h4 class="display-5 fw-bold lh-1 mb-3 text-info">The Trusted Brand in Kuala Lumpur</h4>
        <p class="lead text-light">Since 2004, Expat Car Sales has provided Kuala Lumpur with a wide range of vehicle purchasing and renting options. We pride ourselves in only stocking well-maintained vehicles to meet the needs and standards of even the most discerning drivers.</p>
        
      </div>
      <div class="col-lg-10">
        <p class="text-light">Ready to buy, rent, or sell a car?</p>
        <span class="text light"><a href="/contact" class="text-decoration-none">Contact Us</a> today.</span>
        <a href="/feed" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Visit our virtual Showroom</a> 
      </div>
      <div class="col-lg-10">
        <a href="#">Make a carosol of cars to BUY</a>
        <a href="/profile" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Visit our virtual Showroom</a> 
      </div>
      <div class="col-lg-10">
        <a href="#">Make a carosol of cars to RENT</a>
      </div>
      <div class="col-lg-10">
        <a href="#">Do you want customer reviews? I think it looks tacky personaly, but can make this too.</a>
      </div>
      <div class="row flex pt-3">
        <div class="col-lg-5">
          <span class="text-light">Contact us:</span>
          <a href="mailto:gerald@expatcarsaleskl.com">gerald@expatcarsaleskl.com</a>
          <a href="https://wa.me/60142945817?text=I'm%20interested%20in%20your%20car%20for%20sale" class="text-decoration-none">WhatsApp +60 14-294 5817
          </a>
          <span class="text-light">68000 Ampang, Ukay Heights</span>

        </div>
        <div class="col-lg-5">
          <a href="#">Do you want that video here?</a>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/signup" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Signup</a> 
        <a href="/login" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Login</a>
      </div>
    </div>
  </div>



<%- include('partials/footer') -%>