<%- include('partials/header') -%>



<main class="container justify-content-center">
    <div class="col justify-content-center">
        <iframe src="https://www.youtube.com/embed/gQr55Az13aU" class="d-block mx-lg-auto" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen loading="lazy"></iframe>
    </div>
    <div class="col pt-3 fs-3 fw-bold text-center">
        <p class="text-white">Watch our short video, and then submit your car for sale!</p>
    </div>
    <div class="col pt-3 fs-2 text-center">
      <p class="text-white">To sell your car, you will have to create an account or sign in to an already existing account.</p>
  </div>

  <div class="row justify-content-center">
    <a class="col" href="/login"><button class="col-12 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Login</button></a>
    <a  class="col"   href="/signup"><button class="col-12 btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Sign Up</button></a>
  </div>
</main>

<%- include('partials/footer') -%>
