<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Expat Car Sales</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/imgs/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/imgs/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        
        <!-- CSS only -->
        <link rel="stylesheet" href="/css/style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"
        />
            <link rel="stylesheet" href="/css/main.css" />
        </head>
	<body class="single is-preload bg-dark">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
                <header id="header">
                    <h1><a class="" href="/">Expat Car Sales</a></h1>
                    <nav class="links">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/sellYourCar">Sell Your Car</a></li>
                            <li><a href="/feed">Our Showroom</a></li>
                            <li><a href="/services">Our Services</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </nav>
                    
                </header>


				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Car Viewing</a></h2>
										<p>Gerald will personally bring a car to your doorstep for a viewing!</p>
									</div>
                                    <div class="meta">
										<span>1 hr</span><br>
										<span class="name">Customer's Place</span>
									</div>
									
								</header>
								<span class="image featured"><img src="https://res.cloudinary.com/dllmha3wx/image/upload/v1667373304/inside-honda-our-services_g99p6f.webp" alt="" /></span>
								<p>Why drive all the way across town just to view a bad car with a tampered odometer...?</p>
								<p>Let Gerald bring a quality car directly to your doorstep instead! This service is completely free. Simply specify which car you'd like to see and give us your address and contact information. Choose a date for your appointment, and Gerald will confirm the time with you!</p>
								<p>We look forward to getting you into a new set of wheels very soon!</p>
                                <footer>
										<a href="/contact" class="button large next">Contact</a>
								</footer>
							</article>

					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>

<%- include('partials/footer') -%>