
.transBack{
    background:rgba(255,255,255,0.7);
    padding-top: 5px;
}
.border{
    border: 3px red solid;
    border-radius: 5px;
}
.container2{
    position: relative;
    float: right;
}
.border-right-white{
    border-right: 2px white solid;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  a {
    text-decoration: none;
  }

  /* blaze slider */
  /* fix layout shifts */

.blaze-slider.my-slider {
    --slides-to-show: 3;
    --slide-gap: 20px;
  }
  
  @media (max-width: 900px) {
    .blaze-slider.my-slider {
      --slides-to-show: 2;
    }
  }
  
  @media (max-width: 500px) {
    .blaze-slider.my-slider {
      --slides-to-show: 1;
    }
  }
  
  /* other styles */
  
  html {
    --c1: hsl(212deg 22% 10%);
    --c2: hsl(215deg 22% 15%);
    --c3: hsl(215deg 22% 20%);
    --c4: hsl(215deg 22% 40%);
    --h: hsl(175deg 75% 55%);
  }
  
  .blaze-slider.dragging .blaze-track {
    cursor: grabbing;
  }
  
  .blaze-track > * {
    max-height: 600px;
    min-height: 300px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
      "Noto Sans", sans-serif;
    background: var(--c2);
    color: white;
    border: 2px solid var(--c4);
    border-radius: 8px;
    transition: width 300ms ease;
  }
  
  /* pagination buttons */
  
  .blaze-pagination {
    display: flex;
    gap: 15px;
  }
  
  .blaze-pagination button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: var(--c3);
    cursor: pointer;
    transition: transform 200ms ease, background-color 300ms ease;
  }
  
  .blaze-pagination button.active {
    background: var(--h);
    transform: scale(1.3);
  }
  
  .blaze-next,
  .blaze-prev {
    border: none;
    font-size: 0;
    width: 20px;
    height: 20px;
    background: none;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%2337e2d5' d='M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z'/%3E%3C/svg%3E");
  }
  
  .blaze-next {
    transform: rotate(180deg);
  }
  
  /* for loop: false */
  .blaze-slider.start .blaze-prev,
  .blaze-slider.end .blaze-next {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* other styles */
/*   
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    background: var(--c1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  */
  .app {
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1000px;
  }
  
  @media (max-width: 500px) {
    .app {
      padding: 0;
    }
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }
  

  /* dropdown  */

.container > .dropdown {
  margin: 0 20px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
  z-index: 1;
}

.lt-ie9 .dropdown-select {
  z-index: -1;
}

.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

/* Dirty fix for Firefox adding padding where it shouldn't. */

@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}